## Homework

Introduccion to variables:

### 1.- Create a variable containing an in

In [ ]:
t-datatype element and then print it into the screen.
my_var1 = 2
print(my_var1)

### 2.- Print the datatype of 8.5

In [67]:
my_var2 = 8.5
print(type(my_var2))

<class 'float'>

### 3.- Print the variable datatype of point # 1.-

In [ ]:
print(type(my_var1))

### 4.- Create a variable containing your name

In [ ]:
my_var3 = "Juan Diego"

### 5.- Create a variable containing a complex number

In [ ]:
my_var4 = 3 + 4j

### 6.-Show the data-type of the element of point # 5

In [ ]:
type(my_var4)

### 7.- Create a variable containing the Pi value rounded to 4 decimal

In [ ]:
import math
my_var5 = round(math.pi, 4)
my_var5

### 8.- Create a variable that contains the value 'True' and another one containing the value True

In [68]:
my_var6 = 'True'
my_var7 = True
# Are they the same?
print(f"the answer to the question: {type(my_var6) == type(my_var7)}")

the answer to the question: False

### 9.- Print the data-type of the variables of point 8

In [ ]:
print(f"data-type of \nvariable var_6: {type(my_var6)}\nvar_7: {type(my_var7)}")

### 10.- Assign to a variable the sum of a float and int.

In [ ]:
my_var8 = 2.1 + 3
my_var8

### 11.- Perform the sum of two complex numbers

In [ ]:
import cmath
# Real numbers
my_var9 = 3
my_var10 = 9

my_var11 = 2
my_var12 = 6

# Converting variables (real numbers) into complex numbers z1 and z2
z1 = complex(my_var9, my_var10)
z2 = complex(my_var11, my_var12)

z1 + z2

### 12 .- Perform the addition operation of a real number plus a complex

In [ ]:
3 + z1

### 13 .- Perform a multiplication operation (not specified of what.. so let's try complex numbers)

In [ ]:

z1 * z2

### 14.- Show the result of 2 to power of 8.

In [ ]:
2**8

### 15.- Get the division of 27 over 4

In [ ]:
27 / 4

### 16.- Get only the intire part of the last division

In [ ]:
my_var13 = 27 // 4
my_var13

### 17.- Then, only show the rest of the division of 27 / 4

In [ ]:
my_var14 = 27%4
my_var14

### 18.- Using de number 4 as an operant and the outputs from #16 and #17 point, get 27 as a result

In [ ]:
(my_var13 * 4) + my_var14 # 4 times the intire part plus the remainder.

### 19.- Use the + operator with alphanumeric variables

In [ ]:
my_var15 = 'Juan '
my_var16 = 'Diego'
my_var15 + my_var16

### 20.- Perform if "2" and 2 are the same and explain the result

In [ ]:
print(f"Are the same '2' and 2?\nAnswer: {'2' == 2}, since '2' is a string of characters and 2 is an \ninteger. Computers process differently this information")

### 21.- Use convertion functions to change data-types to evaluate as True the last validation of point #20

In [ ]:
# Option 1 (all to strings):
var_17 = '2' == str(2)
# Option 2 (all to integers):
var_18 = int('2') == 2
var_17, var_18

### 22.- Why rise error the next data-type change?  `var_19 = float('3,8')`

In [69]:
print("Beacause float numbers needs period symbol to specify decimal.")

Beacause float numbers needs period symbol to specify decimal.

### 23.- Create a variable containing 3 and use '-=' operator to chade its content

In [ ]:
var_20 = 3
var_20 -= 2
var_20

### 24.- Perform the `1 << 2 operation`. Why does this output that result? What is binary system?

In [ ]:
# Answer: it outputs a bitwise operation, in this case bitwise left shift
1 << 2

### 25.- Perform 2 + '2' operation. Why is it not allowed? 
Ans: Because you cannot perform operations between different data-types 
### If the operators were the same type, it'd rise the same error?
Ans: It doesn't, as long as data-types are the same between operators

### 26.- Make the valid operation between data-types str and int

In [ ]:

print(str(2) + '2')
print(2 + int('2'))